.cursor{
    cursor: pointer;
    color: white;
}
.text-decorator-none1{
    text-decoration: none !important;
    color: white !important;

}
.barra{
    background-color: #245501 !important;
    width: 95.2vw !important;
    
}
.form {
    display: flex;
    align-items: center;
  }
  
.barraP{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 3px;
  }
  
.botaoP{
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-left: 5px;
}