.cursor{
    cursor: pointer;
    margin-top: 0.3vw;
    
}
.text-decorator-none1{
    text-decoration: none !important;
    color: white !important;

}
.barra{
position: fixed !important;
background: rgba( 232, 252, 207, 0.2 ) !important;
box-shadow: 0 8px 32px 0 rgba(40, 135, 31, 0.37) !important;
backdrop-filter: blur( 16.5px ) !important;
-webkit-backdrop-filter: blur( 16.5px ) !important;
    
    /* box-shadow: 0px 1px 11px -8px rgba(0, 0, 0, 0.98) !important;
    background:#E8FCCF !important;
    opacity: 1.5;
    backdrop-filter: blur(56px);
    
    margin-bottom: 1rem;
     */
    
}
.form {
    display: flex;
    align-items: center;
  }
  
  
.botaoP{
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-left: 5px;
}

.sair{
    margin-left: auto;
    display: block;
}

.corDaLetra:hover{
    color: #168b55 !important;
}

.corDaLetra{
    color: #000 !important;
}

.left{
    margin-left: 2vw !important;
}




/* 
#plan{
    width: 15vw;
    margin-left: 10vw;
    color: white !important;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.lista{
    background-color: #E8FCCF;
    color: black;
}

.text-decorator-none1{
    text-decoration: none !important;
    color: black;
}
.barra{
    background-color: #245501 !important;
    width: 100% !important;
    margin-bottom: 1rem !important;
    z-index: 1030 !important;
}
.sair{
    cursor: pointer;
    text-align: end;
} */