.cursor{
    cursor: pointer;
    color: white;
}
.text-decorator-none1{
    text-decoration: none !important;
    color: white !important;

}
.barra{
    background-color: green !important;
    width: 95.2vw !important;
}
