

.text-decorator-none {
    text-decoration: none;
    color: black;
}
.entrar{
    font-weight: bold !important;
    margin: 10% !important;

}
.botao1{
    width: 100px !important;
    padding: 10px !important;
    background-color: #ffae00  !important;
}

.img{
    width: 100%;
}
.imglogin{
    width: 100%;
    background-image: url(https://imgur.com/9IIeYEb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2{
    background: rgba( 232, 252, 207, 0.2 ) !important;
    box-shadow: 0 8px 32px 0 rgba(40, 135, 31, 0.37) !important;
    backdrop-filter: blur( 5px ) !important;
    -webkit-backdrop-filter: blur( 5px ) !important;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.MuiFormControl-marginNormal{
    width: 50% !important;
    border: 2px solid black !important;
    align-items: center !important;
    text-align: center !important;
    margin-left: 25% !important;
}
.txts {
    font-weight: bold !important; 
}
.txts:hover{
    color: #ffae00c2 !important;
}


@media(max-width: 450px){
    body{
        overflow-x: hidden;
    }  
}