.txts {
    font-weight: bold !important; 
}

.text-decorator-none {
    text-decoration: none;
    color: black;
}
.entrar{
    font-weight: bold !important;
    margin: 10% !important;

}
.botao1{
    background-color: green !important;
}

.img{
    width: 100%;
}

