.txts {
    font-weight: bold !important; 
}

.text-decorator-none {
    text-decoration: none;
    color: black;
}
.entrar{
    font-weight: bold !important;
    margin: 10% !important;

}
.botao1{
    background-color: green !important;
}

.img{
    width: 100%;
}
.imglogin{
    width: 100%;
    background-image: url(https://imgur.com/9IIeYEb.png);
}

.img2{
    background: rgba( 232, 252, 207, 0.2 ) !important;
    box-shadow: 0 8px 32px 0 rgba(40, 135, 31, 0.37) !important;
    backdrop-filter: blur( 5px ) !important;
    -webkit-backdrop-filter: blur( 5px ) !important;
    border-radius: 20px;
    margin-top: 10px;
}
