.equipe{
    margin: 0;
}
.nomes{
    display: block;
    margin: 0;
    padding: 0;
}
.pc{
    margin-top: 0;
}

.redes{
    padding: 10px;
    font-size: 60px !important;
    color: black !important;
}
.textos{
    color: black !important;
}

.redes:hover{
    position:relative;
    width: 60px;
    height: 60px;
    top:-4px;box-shadow:4px 4px 4px 4px #999;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    background-color: #E8FCCF;
    color: #fff;
}
/* nome e links para os git */

.caixa {
    display: flex;
    gap: 4rem;
    background-color: #E8FCCF;
    justify-content: center;
    padding-bottom: 12px;
}


.invisivel {
    text-indent: -9999px;
    white-space: nowrap;  
    color: transparent;
}


a {
    font-weight: bold;
    color: #168b55;
    text-decoration: none;
}

a:hover {
    color: #076005;
}

hr {
    color: black;
}

hr {
    background: radial-gradient(circle, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 1%);
    border: none;
    height: 1px;
    margin: 1px 0;
    width: 100%;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}

@media(max-width: 450px) {
    .caixa{
        display: flex;
        justify-content: space-evenly;
        gap: 0;
    }
    .nomes{
        display: flex;
        flex-direction: column;
    }
    .invisivel{
        display: none;
    }
}

@media (min-width: 800px){
    .caixa{
        gap: 0;
        display: flex;
        justify-content: space-evenly;
    }
    .pc{
        display: flex;
        justify-content: space-around;
    }
}