.texto{
    display: flex;
    flex-flow: wrap ;
    justify-content: center;
    text-align: center;
    margin: 50px;
    margin-top: 5rem;
    

}
.img{
    margin-top: 5px;
    display: flex;
    flex-flow: wrap ;
    justify-content: center;
    align-items: center;
}
.home{
    background-color: #E8FCCF;

}
*{
    font-family: 'Inter', sans-serif;
}
