.texto{
    display: flex;
    flex-flow: wrap ;
    justify-content: center;
    text-align: center;
    margin: 30px;
    

}
.img{
    margin-top: 5px;
    display: flex;
    flex-flow: wrap ;
    justify-content: center;
    align-items: center;
}
.home{
    background-color: #E8FCCF;
}