.txtnegritoc{
    font-weight: bold;
}
/* .cardc:hover{
    transform: translateY(-10px); 
    cursor: pointer;
    position: relative;
    top:-4px;box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out;
    border-radius: 2rem;
    background-color: #0001209e;
    color: #fff;
} */
.pd90c{
    margin: 1rem 15rem;
    display: grid;
    border: 1px #168b55 solid;

}
.imgprodutoc{
    width: 250px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#nomeprod{
    text-align: center;
    margin-bottom: 5px;
}
/* .innercardc{
    background-color: #ecffe9 !important;
} */
