.img2{
    background-repeat: no-reapet;
    width: 30vh;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
}
.txtnegrito{
    font-weight: bold;
}
.card:hover{
    transform: translateY(-10px); 
    cursor: pointer;
    position: relative;
    top:-4px;box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out;
    /* border-radius: 2rem; */
    background-color: #0001209e;
    color: #fff;
}
.card {
    margin: 1rem;
    display: flex;
    /* border-radius: 2rem; */
    border: 1px #168b55 solid;
}
.innercard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pd90{

    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.Search {
    width: 20% !important;
    top: 30px !important;
    margin-left: 37rem !important;
    margin-top: 3rem !important;
}
.modalP{
    margin-left: 5rem;
    margin-top: 5rem;
}
.imgproduto{
    width: 250px;
    height: 150px;
    text-align: center;
}
#nomeprod{
    text-align: center;
    margin-bottom: 5px;
}
.innercard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}