.img2{
    background-repeat: no-reapet;
    width: 30vh;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
}
.txtnegrito{
    font-weight: bold;
}
.card:hover{
    transform: translateY(-10px); 
    cursor: pointer;
    position:relative;
    top:-4px;box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    background-color: #0001209e;
    color: #fff;
}