.img2{
    background-repeat: no-reapet;
    width: 30vh;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
}
.txtnegrito{
    font-weight: bold;
}
.card:hover{
    transform: translateY(-10px); 
    cursor: pointer;
    position: relative;
    top:-4px;box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out;
    /* border-radius: 2rem; */
    background-color: #0001209e;
    color: #fff;
}
.card {
    margin: 1rem;
    display: flex;
    /* border-radius: 2rem; */
    border: 1px #168b55 solid;


}
.innercard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ecffe9 !important;
    width: 100%;
}
.pd90{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.Search {
    width: 20% !important;
    top: 30px !important;
    margin-left: 37rem !important;
    margin-top: 3rem !important;
}
.modalP{
    margin-left: 5rem;
    margin-top: 2rem;
}
.imgproduto{
    width: 250px;
    height: 150px;
    text-align: center;
    align-items: end;
}
.imgproduto1{
    display: flex;
    justify-content: center;
}
#nomeprod{
    text-align: center;
    font-size: x-large;
}
.innercard{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.msgAutorizacao{
    text-align: center;
}
.botaocompra{
    width: 100%;
    height: 35px !important;
    display: flex !important;
    align-items: start !important;
    justify-content: center !important;
    
}
.value1{

    font-weight: bold !important;
    font-size: larger  !important;
    padding-top: .5rem !important;
  }

  @media (max-width: 1000px){
    innercard{
        display: flex;
        flex-direction: column;
    }
    .pd90{
        padding: .5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .Search {
        width: 40% !important;
        top: 30px !important;
        margin-left: 5rem !important;
        margin-top: 3rem !important;
    }
  }