.imgCadastro{
    background-image: url(https://imgur.com/9IIeYEb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2{
    margin-bottom: 10px;
    background: rgba( 232, 252, 207, 0.2 ) !important;
    box-shadow: 0 8px 32px 0 rgba(40, 135, 31, 0.37) !important;
    backdrop-filter: blur( 5px ) !important;
    -webkit-backdrop-filter: blur( 5px ) !important;
    border-radius: 20px;
    margin-top: 10px;
}
.botao5{
    background-color: #168b55 !important;
}